.title {
	text-align: center;
}

h1 {
	color: white;
	font-family: monospace;
}

p,li {
	color: white;
}

li {
	text-align: center;
	list-style-position: inside;
}

body {
	background-color: black;
}

a {
	color: violet;
}

